.pure-g.pure-u-1
  - if @offer
    %h1 Invoice: #{@invoice.id}
    %h6 Status: #{@invoice.status}
    %div
      %h5 Name
      = link_to @offer.name, offer_path(@offer)
    %div
      %h5 Description
      = @offer.description
    %div
      %h5 Amount
      = number_to_currency(@offer.amount)
      - unless @invoice.applied_coupon? || @invoice.status == Invoice::PAID
        = render 'checkouts/coupon_form'
    - if @invoice && (@invoice.payments.any? || @invoice.line_items.any?)
      = render 'checkouts/invoice'
    - if @invoice.status != Invoice::PAID
      = render 'checkouts/make_payment_form'
  - else
    %h2 There are no offers.
