%div
  %h4 Invoice
  %table{class: "pure-table pure-table-horizontal"}
    %thead
      %tr
        %th
          DateTime
        %th
          Transaction Type
        %th
          Amount
    %tbody
      - # FIXME: Improve this invoice visualization
      %h4
      - @invoice.line_items.each do |li|
        %tr
          %td
            = li.created_at
          %td
            = "#{@invoice.offer.name} - #{li.type}"
          %td
            = li.amount
      %tr{class: "pure-table-odd"}
        %td
        %td
          %b Subtotal
        %td
          %b
            = @invoice.subtotal
      %tr{class: "pure-table-odd"}
        %td
        %td
          %b Payments
        %td
      - @invoice.payments.each do |payment|
        %tr
          %td
            = payment.created_at
          %td
            Payment
          %td
            = payment.amount
      %tr
        %td
        %td
          %b Total Payments
        %td
          %b
            = @invoice.balance_paid
      %tr
        %td
        %td
          %b Amount Remaining
        %td
          %b
            = @invoice.balance_remaining
