%div
  %h4= "Invoice Nº #{@invoice.id}"
  %h6= "Status: #{@invoice.status}"
  %table{class: "pure-table pure-table-horizontal"}
    %thead
      %tr
        %th
          Item
        %th
          Date
        %th
          Amount
    %tbody
      %tr{class: "pure-table-odd"}
        %td
          %b Offers
        %td
        %td
      - @invoice.line_items_offers.each do |li|
        %tr
          %td
            = "#{@invoice.offer.name} - #{li.type}"
          %td
            = li.created_at.to_date
          %td
            = number_to_currency(li.amount)
      %tr
        %td
        %td
          %b Subtotal
        %td
          %b
            = number_to_currency(@invoice.subtotal)
      %tr{class: "pure-table-odd"}
        %td
          %b Discounts
        %td
        %td
      - @invoice.line_items_discounts.each do |li|
        %tr
          %td
            = "#{@invoice.offer.name} - #{li.type}"
          %td
            = li.created_at.to_date
          %td
            = "- #{number_to_currency(li.amount)}"
            = link_to 'X', invoice_line_item_path(@invoice.id,li.id), method: :delete, id: "delete-coupon-#{li.id}", data: {confirm: 'Are you sure?'}
      %tr
        %td
        %td
          %b Total
        %td
          %b
            = number_to_currency(@invoice.total)
      %tr{class: "pure-table-odd"}
        %td
          %b Payments
        %td
        %td
      - @invoice.payments.each do |payment|
        %tr{class: 'payments'}
          %td
            Payment
            %div
              %small
                = payment.payment_method.to_s
          %td
            = payment.created_at.to_date
          %td
            = "- #{number_to_currency(payment.amount)}"
      %tr
        %td
        %td
          %b Total Payments
        %td
          %b
            = "- #{number_to_currency(@invoice.balance_paid)}"
      %tr
        %td
        %td
          %b Amount Remaining
        %td
          %b
            = number_to_currency(@invoice.balance_remaining)
