= form_tag(checkouts_path, class: "pure-form", id: "payment-form") do
  %fieldset
    %div.pure-u-1-4
      %h5 Payment
      - if @offer.deferrable?
        = number_field_tag :amount, @balance_remaining, {min: 0.0, max: @balance_remaining, class: "pure-input-1-4"}
      - else
        = hidden_field_tag :amount, @balance_remaining
      = hidden_field_tag :offer_id, @offer.id
      = hidden_field_tag :invoice_id, @invoice.id
      -if @payment_methods.any?
        %div
          %ul
            = collection_radio_buttons(nil, :payment_method_id, @payment_methods, :id, :to_s, required: :required) do |button|
              %li
                = button.label { button.radio_button(required: 'required') + " #{button.text}" }
                = link_to 'X', payment_method_path(button.value), method: :delete, id: "delete-payment-method-#{button.value}", data: {confirm: 'Are you sure?'}
        %div
          = link_to 'Add a new card', new_payment_method_path
          = render 'checkouts/payment_button'
      - else
        %div= link_to 'Add a Payment Method', new_payment_method_path
