%div.pure-g.pure-u-1
  %h1= @offer.name
  %div
    %h5 Description
    = @offer.description
  %div
    %h5 Amount
    = number_to_currency(@offer.amount)
  - if @invoices.any?
    %h3 Invoices
    %table.pure-table.pure-table-horizontal
      %thead
        %tr
          %th Invoice ID
          %th Created At
          %th Status
      %tbody
        - @invoices.each do |invoice|
          %tr
            %td= link_to invoice.id, invoice_path(invoice)
            %td= invoice.created_at
            %td
              %b= invoice.status
  - else
    %h3 You don't have any invoices for this offer.
  = link_to "Create Invoice", new_invoice_path(offer_id: params[:id])
